
@model List<Products>
@{
	ViewData["Title"] = "Cart";
}

<h1>Your Books</h1>

<div class="row">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Image</th>
				<th>Book</th>
				<th>Author</th>
				<th>Unit Price</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			@foreach (var book in Model)
			{
				<tr>
					<td>
						<img src="~/@book.Image" width="50px" height="70px"/>
					</td>
					<td> @book.Name</td>
					<td>@book.Author</td>
					<td>@book.Price</td>
					<td>
						<a asp-action="RemoveFromCart" asp-controller="Home" asp-route-id="@book.Id" class="btn btn-danger">
							<i class="fa-solid fa-trash"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="row mb-4 align-items-center">
	<div class="col-6">
		<!-- Optional space or cart label -->
	</div>
	<div class="col-6 text-end">
		<h4 class="text-primary fw-bold">
			Total: ৳@Model.Sum(c => c.Price).ToString("0.00")
		</h4>
	</div>
</div>

<div class="row g-3">
	<div class="col-6">
		<a asp-action="Index" asp-controller="Home" class="btn btn-outline-success ">
			<i class="fa-solid fa-house"></i> Home
		</a>
	</div>
	<div class="col-6 text-end">
		<a asp-action="Checkout" asp-controller="Home" class="btn btn-primary ">
			<i class="fa-solid fa-credit-card"></i> Checkout
		</a>
	</div>
</div>